* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	background-image: url(../img/background_body.png);
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 960px;
	height: 1024px;
	margin: 0 auto;
	margin-top:	20px;
}

#header {
	height: 156px;
}

#header_top{
	width:	960px;
	height:	109px;
	background-image: url(../img/header_top.png);
	background-repeat:	no-repeat;
}

#logo {
	float:	left;
	padding: 17px 0 0 30px;
	width:	207px;
	height:	76px;
}

#get_quote{
	float:	right;
	margin: 3px 35px 0 0;
	width: 124px;
	height:	85px;
}


#header_bottom{
	width:	960px;
	height:	47px;
	background-image: url(../img/background_search.gif);
}



#main_middle{
	float:	left;
	padding: 13px 0 0 30px;
}

#links_middle{
	float:	left;
	padding: 16px 0 0 20px;
}

#links_middle li{
	display:	inline;
	margin-right:	30px;
}

#links_middle a{
	color: #848383;
	text-decoration: none;
	font: 15px/22px Arial, Tahoma, Verdana, sans-serif;
}

#search{
	float:	right;
	width: 215px;
	height:	24px;
	margin-top: 12px;
	margin-right: 18px;
	background-color: #fff;
}

#search_input input{
	float: left;
	width: 183px;
	height: 24px;
	margin-left: 7px;
	color: #adacac;
	border: none;
	font: 11px/22px Arial, Tahoma, Verdana, sans-serif;
}

#search_input img{
	float: right;
}

#content_banner{
	width:	960px;
	height:	369px;
	background-color:	#d6d6d6;
}

#banner_img{
	float:	left;
	width:	610px;
	height:	369px;
}

#banner_text{
	float:	right;
	width:	290px;
	height:	auto;
	margin:	41px 32px 0 0;
}

#banner_text h2{
	margin-bottom:	27px;
	color:	#8d162a;
	font: 29px/27px Arial, Tahoma, Verdana, sans-serif;
}

#banner_text p{
	height:	auto;
	color:	#3c3c3c;
}

#banner_button{
	width:	110px;
	float:	right;
	height:	40px;
	background-color:	#a1a1a1;
}

#banner_button a{
	color: #fff;
	font: 16px Arial, Tahoma, Verdana, sans-serif;
	text-decoration: none;
}

#banner_button p{
	margin-top:	11px;
	margin-left:	16px;
	color:	#fff;
}

#banner_shadows{
	width:	960px;
	height:	14px;
}

#page_title{
	width:	960px;
	height:	105px;
}

#page_title p{
	margin-top:	28px;
	margin-left: 85px;
	color: #a74354;
	font: 31px/26px Arial, Tahoma, Verdana, sans-serif;
}

#page_title_img{
	width:	960px;
	height:	52px;
	margin-top:	28px;
	background-image: url(../img/middle_img.png);
}

#content_bottom{
	width:	960px;
	height:	390px;
	padding-top:	28px;
}

.left{
	float:	left;
	margin:	20px 0 0 2px;
	width:	430px;
	height:	110px;
	background-color:	#ddd;
}

.right{
	float:	right;
	margin:	20px 0 0 0;
	width:	430px;
	height:	110px;
	background-color:	#ddd;
}

.img{
	float:	left;
	width:	110px;
	height:	110px;
}

.text{
	float:	right;
	margin: 10px 22px 0 0;
	color:	#3c3c3c;
}

.text h3{
	margin-bottom:	8px;
}

.text p{
	width:	278px;
	height:	auto;
}

#footer {
	height: 121px;
	margin-bottom: 21px;
}

#footer_top{
	width:	960px;
	height:	91px;
	background-color:	#a1a1a1;
}

#footer_img{
	width:	960px;
	height:	37px;
	padding-top: 17px;
}

#footer_copy{
	width:	904px;
	height:	auto;
	padding:0 28px;
	color:	#fff;
	font: 11px/14px Arial, Tahoma, Verdana, sans-serif;
}

#left{
	float:	left;
}

#right{
	float:	right;
}

#right p{
	float:	left;
}

#right img{
	float:	right;
	margin-top:	5px;
	margin-left: 3px;
}

#footer_shadows{
	width:	960px;
	height:	14px;
}

/*border: 1px solid gray;*/

/*--------page1------------------------*/

/*-page_inform-*/

#page1_title{
	width:	960px;
	height:	184px;
}

#page1_title_text{
	float: left;
	height: 31px;
	margin-top:	43px;
	margin-left: 260px;
	color: #a74354;
	font: 31px/26px Arial, Tahoma, Verdana, sans-serif;
}

#page1_title_img{
	float: left;
	width:	960px;
	height:	52px;
	margin-top:	20px;
	background-image: url(../img/middle_img.png);
}

/*-banner-*/

#content_banner_1{
	width:	960px;
	height:	227px;
}

#banner_text_1{
	float:	left;
	width:	640px;
	height:	227px;
}

#banner_text_1 h2{
	color:	#3c3c3c;
	font: 22px Arial, Tahoma, Verdana, sans-serif;
}

#banner_text_1 p{
	width: 607px;
	height:	auto;
	margin-top:	15px;
	color:	#9a9a9a;
}



#banner_links_1{
	float:	right;
	width:	320px;
	height: 227px;
	background-color:	#dddddd;
}

#banner_links_1 h2{
	margin: 15px 0 0 20px;
	color:	#3c3c3c;
	font: 22px Arial, Tahoma, Verdana, sans-serif;
}

#banner_links_1 ul{
	margin: 12px 0 0 19px;
	width: 280px;
}

#banner_links_1 li{
	height: 30px;
	list-style-type: none;
}

#banner_links_1 img{
	float: left;
	margin-top: 6px;
	margin-right: 9px;
}

#banner_links_1 a{
	float: left;
	height: 19px;
	text-decoration: none;
	color:	#9b9b9b;
	font: 12px/22px Arial, Tahoma, Verdana, sans-serif;
}

.links{
	float: left;
	height: auto;
}

.line{
	float: left;
	width: 280px;
	height: 3px;
}



#content1{
	width: 960px;
	height: 700px;

}


#content_inform{
	float: left;
	width: 960px;
	height: 433px;
}


#title_text{
	float: left;
	width: 960px;
	height: 40px;
}

#title_text h2{
	margin-top: 19px;
	color:	#3c3c3c;
	font: 22px Arial, Tahoma, Verdana, sans-serif;
}

#content_left{
	float: left;
	width: 630px;
	height: 433px;
}

.block_settings{
	float: left;
	width: 208px;
	height: 432px;
}

.block{
	float: left;
	width:	190px;
	height:	342px;
	margin-top: 27px;
	background-color:	#dddddd;
}

.block_img{
	float: left;
	width: 190px;
	height: 186px;
}

.block_title{
	float: left;
	width: 155px;
	height: 15px;
	margin-top: 14px;
	margin-left: 12px;
	color:	#3c3c3c;
	font: 15px Arial, Tahoma, Verdana, sans-serif;
}

.block_text{
	float: left;
	width: 164px;
	height: 43px;
	margin-top: 14px;
	margin-left: 12px;
	color:	#9b9b9b;
	font: 11px Arial, Tahoma, Verdana, sans-serif;
}

.block_line{
	float: left;
	margin-top: 4px;
}


.block_line img{
	width: 167px;
	height: 3px;
	margin-left: 12px;
}

.block_social{
	float: left;
	width: 111px;
	height: 17px;
	margin-top: 11px;
	margin-left: 36px;
}

.block_social img{
	float: left;
	width: 16px;
	height: 16px;
	margin-left: 6px;
}



#content_right{
	float: right;
	width: 320px;
	height: 433px;
}

#dv_skobki{
	float: left;
	width: 30px;
	height: 25px;
}

#upper_text{
	float: left;
	width: 260px;
	height: 130px;
	margin-left: 10px;
}

#upper_text p{
	color: #adadad;
	font: 23px Arial, Tahoma, Verdana, sans-serif;
}

#small_text{
	width: 240px;
	height: 6px;
	margin-top: 14px;
	color: #9a9a9a;
	font: 12px Arial, Tahoma, Verdana, sans-serif;
}

/*--------page2------------------------*/

#content2{
	width: 960px;
	height: 700px;
}

#control_content{
	float: left;
	width: 320px;
	height: 648px;
	background-color:	#dddddd;
}

#output_request{
	float: right;
	width: 608px;
	height: 648px;
	background-color:	#fff;
}

#add_line{
	float:	left;
	width:	320px;
	height:	30px;
}

#add_line h2{
	height:	19px;
	margin: 0 0 0 20px;
	color:	#3c3c3c;
	font: 22px Arial, Tahoma, Verdana, sans-serif;	
}

.line_title{
	float: left;
	width: 280px;
	height: 3px;
	margin-left: 19px;
}

/*--player--*/

#player_area{

	float: left;
	width: 568px;
	height: auto;
	margin: 8px 0 0 20px;
}

#player_close{
	float: left;
	width: 568px;
	height: 92px;
}

.pict_player{
	float: left;
	width: 79px;
	height: 79px;
	margin-top: 12px;
}

.middle_player{
	float: left;
	width: 320px;
	height: 72px;
	margin: 12px 0 0 18px;
}

.title_player{
	float: left;
	color: #3d3d3d;
	font: 17px Arial, Tahoma, Verdana, sans-serif;	
}

.text_player{
	float: left;
	margin-top: 4px;
	color: #9b9b9b;
	font: 12px Arial, Tahoma, Verdana, sans-serif;
}

.main_player{
	float: left;
	width: 73px;
	height: 24px;
	margin-top: 10px;
	background-image: url(../img/main_player.jpg);
	background-repeat: no-repeat;
}

.volume{
	float: left;
	margin: 3px 0 0 6px;
}

.play{
	float: right;
	margin: 3px 12px 0 0;
}


.variable_more a{
	float: right;
	margin-top: 73px;
	color: #7b7878;
	text-decoration: none;
}

.line_player{
	width: 568px;
	height: 3px;
}

#player_open{
	float: left;
	width: 568px;
	height: 200px;
}

#item_inform{
	float: left;
	width: 464px;
	height: 75px;
	margin: 12px 0 0 19px;
	color: #7a7879;
	font: 12px Arial, Tahoma, Verdana, sans-serif;
}

.variable_hide{
	float: right;
	color: #7b7878;
}

.variable_hide a{
	float: right;
	color: #7b7878;
	text-decoration: none;
}