* {
	margin: 0;
	padding: 0;
}

body {
}

#wrapper {
	width: 960px;
	height: 1024px;
	margin: 0 auto;
	margin-top:	20px;
}

#header {
    background-color:darkgray;
    height:45px;
}

#header #title {
    float:left;
    margin: 10px;
    font: 20px/23px Verdana;
    color:white;
}

#content {
    font: 12px/14px Verdana, Arial, Tahoma;
    margin: 20px;
}
